#main {
	width: 60vw;
	/* padding-top: 0.5rem; */
	margin: auto;
}

#title {
	font-size: var(--large-text);
}

#infoBar {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-self: center;

	margin-bottom: 0.5rem;
	font-family: var(--secondary-font);
}

#authors {
	font-size: var(--small-text);
}
#shareButtons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#main p {
	font-family: var(--alternate-primary-font);
}

#content p {
	margin: 1rem 0;
	font-size: 1.2rem;
	color: var(--primary) !important;
}

#cover_image_div {
	text-align: center;
	width: 100%;

	margin: auto;
}
#coverImageInfo {
	color: var(--medium-grey);
	font-family: var(--secondary-font);
}
@media screen and (max-width: 840px) {
	#main {
		width: 90vw;
	}
	#title {
		/* margin: 1rem 0; */
		font-size: var(--medium-text);
	}
}
#subsribe_insert {
	/* width: 400px; */
	margin: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#section {
	text-transform: uppercase;
	font-family: sans-serif !important;
	font-weight: 600;
	font-size: 1.2rem;
	margin-top: 15px;
}
