#main {
	width: 95vw;
	max-width: 1000px;
	padding-top: 1rem;
	margin: 0 auto;
}

#title {
	font-size: var(--large-text);
}

#infoBar {
	display: flex;
	justify-content: space-between;
	align-self: center;

	margin-bottom: 0.5rem;
	font-family: var(--secondary-font);
}

@media screen and (max-width: 1220px) {
	#main {
		padding-top: 1rem;
	}
	#infoBar {
		display: block;
	}
}

#authors {
	margin-top: 1rem;
	font-size: var(--small-text);
}
#shareButtons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
	padding-top: 3px;
}

#main p {
	font-family: var(--primary-font);
}

#content p {
	margin: 1rem 0;
	font-size: 1.2rem;
	color: var(--primary) !important;
}

#cover_image_div {
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	overflow: "hidden";
}

#cover_image {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}

#coverImageInfo {
	font-family: var(--secondary-font);
}

@media screen and (max-width: 840px) {
	#main {
		padding-top: 0.5rem;
	}

	#title {
		/* margin: 1rem 0; */
		font-size: var(--medium-text);
	}
}
#subsribe_insert {
	/* width: 400px; */
	margin: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#section {
	text-transform: uppercase;
	font-family: sans-serif !important;
	font-weight: 600;
	font-size: 1.2rem;
	margin-top: 15px;
}

#issue_volume_text {
	font-size: var(--small-text);
	font-family: var(--secondary-font);
}
#time {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: var(--small-text);
	font-family: var(--primary-font);
}
