#content p {
	margin-bottom: 10px;
}

#main{
	padding-top: 10px;
	width: 50vw;
	min-width: 450px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#cover_image_div {
	text-align: center;
} 