#main {
	width: 95vw;
	max-width: 800px;
	padding-top: 1rem;
	margin: 0 auto;
}

#section {
	text-transform: uppercase;
	font-family: sans-serif !important;
	font-weight: 600;
	font-size: 1.2rem;
	margin-top: 15px;
}

#title {
	font-size: var(--large-text);
}

#summary {
	color: var(--medium-grey);
	font-family: var(--secondary-font);
	font-weight: normal;
	font-size: calc(var(--large-text) / 2);
	margin-bottom: 0.1rem;
}

#reading_time {
	margin-bottom: 1rem;
	font-size: var(--small-text);
	font-family: var(--secondary-font) !important;
	font-weight: 600;
}

#infoBar {
	margin-top: 1rem;
	font-family: var(--secondary-font);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; /* Wrap shareButtons down if collide with authors' names */
}

#authors {
	font-size: var(--small-text);
	font-size: calc(var(--large-text) / 2.2) !important;
	font-family: var(--secondary-font);
}

#issue_volume_text {
	font-size: var(--small-text);
	font-family: var(--secondary-font);
	font-weight: normal;
}

#shareButtons {
	margin-left: auto; /* If wraps, push to right side */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 3px;
	column-gap: 1rem;
}

#main p {
	font-family: var(--primary-font);
}

#cover_image_div {
	margin-top: 0.5rem;
	text-align: center;
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	overflow: "hidden";
}

#cover_image {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
	margin: 0;
}

#coverImageInfo {
	font-family: var(--secondary-font);
}

#coverImageContributor,
#content :global(.img_credit) {
	text-decoration: none;
	font-family: var(--secondary-font);
	display: block;
	text-align: right;
	color: var(--medium-grey);
	font-style: italic;
	font-size: calc(var(--large-text) / 2.4);
}

#coverImageContributor {
	margin-top: -5px;
}

@media screen and (max-width: 840px) {
	#main {
		padding-top: 0.5rem;
	}

	#title {
		/* margin: 1rem 0; */
		font-size: var(--medium-text);
	}
}

#content {
	margin-top: 2rem;
}

#content p {
	margin: 1rem 0;
	font-size: 1.2rem;
	color: var(--primary) !important;
}

#content p br {
	display: none;
}

#content a {
	text-decoration: underline;
}

#content img {
	display: block;
	width: 100%;
	font-style: italic;
}

.advertisements {
	height: fit-content;
}
