#content p {
  margin-bottom: 10px;
  font-size: 1.1em;
}

#main {
  padding-top: 10px;
  width: 50vw;

  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#main p {
  font-family: var(--alternate-primary-font);
}

#cover_image_div {
  text-align: center;
}
.authors {
  margin: 0;
  margin-bottom: 0.5vh;
  font-size: 1.3em;
  font-weight: bolder;
}
.cover_image_contributor {
  margin-bottom: 1vh;
  text-align: right;
}
@media screen and (max-width: 840px) {
  #main {
    width: 90vw;
  }
}

#articleBar {
  /* justify-content: space-between; */
  /* display: flex; */
}