#main {
	height: auto;
	padding-bottom: 2rem;
	width: 95vw;
	max-width: 1300px;
	margin: auto;
}

#departmentTitle {
	margin-top: 1rem;
	text-align: center;
}

@media screen and (max-width: 840px) {
	#departmentTitle {
		font-size: var(--medium-text);
	}
}

.departmentDescriptionContainer {
	text-align: center;
}

.departmentDescriptionContainer p {
	font-size: 1.2rem;
}
