#main {
  height: auto;
  padding-bottom: 2rem;
  width: 95vw;
  max-width: 1300px;
  margin: auto;
}

.departmentHeadingContainer {
  text-align: center;
  margin-block: 1rem;
}

.departmentHeadingContainer p {
  font-size: 1.2rem;
}

@media screen and (max-width: 840px) {
  #departmentTitle {
    font-size: var(--medium-text);
  }

  .departmentHeadingContainer {
    margin-block: 0.75rem;
  }
}
