#main {
	/* text-align: center; */
	width: 94vw;
	max-width: 1000px;
	margin: auto;
}

#name {
	margin-top: 40px;
	font-size: 2.5rem;
}

#email {
	text-decoration: underline;
}

#slug {
	font-size: 1.4rem;
}

#description {
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	#slug {
		display: block;
	}
}

#media_display {
	display: grid;
	grid-template-columns: repeat(3, 32%);
	grid-column-gap: 1%;
	justify-content: space-between;
	align-content: center;
	margin-top: 15px;
}

#media_display div {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.media {
	cursor: pointer;
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}

.media_container {
	object-fit: contain;
	position: relative;
	width: 100%;
}

@media (max-width: 950px) {
	#media_display {
		grid-template-columns: repeat(2, 50%);
	}
}

@media (max-width: 700px) {
	#media_display {
		grid-template-columns: repeat(1, 100%);
	}
}
