.cardArea{
    display: flex;
    flex-direction: column;
}
.imageArea{
    aspect-ratio: 1/1.25;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
}
#imageGradient{
    background-color: black;
    background-image: linear-gradient(135deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
:is(#imageGradient, #imagePhoto){
    width: 100%;
    height: 100%;
}
#imageStatic{
    position: relative;
}
#overlay{
    position: absolute;
}
:is(#imageGradient, #imagePhoto)::after, #overlay{
    transition: ease-in 150ms;
    width: 100%;
    aspect-ratio: 1/1.25;
    background-color: black;
    content: '';
    display: block;
    opacity: 0;
}
:is(#imageGradient, #imagePhoto):hover::after, #overlay:hover{
    opacity: 0.45;
}
#image{
    width: 100%;
    height: 100%;
}
.textArea{
    font-size: 1rem;
    width: 100%;
    user-select: none;
}
#textName{
    font-weight:600;
    font-size: 1.1rem;
}
#textPosition{
    font-size: 1rem;
}