#collapsible_search_parent {
  /* overflow: hidden; */

  position: relative;
  width: fit-content;
}
.formContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  height: 100%;
  width: 100%;

  justify-items: right;
  align-items: center;
}
.magnifyingGlassContainer {
  grid-row: 1;
  grid-column: 1;

  z-index: 3;
}
#magnifying_glass svg {
  aspect-ratio: 1/1;
  height: 1.5rem;
}

.seachBoxContainer {
  grid-row: 1;
  grid-column: 1;

  height: 100%;

  display: flex;
  justify-content: right;

  overflow: hidden;
}
#search_textbox {
  height: 100%;
  width: 75%;

  border: solid var(--primary) 1.75px;
  border-radius: 13px;

  padding: 0.25rem 0.5rem;


  transition: ease-in-out 200ms;
}
