#profileImage img {
    border-radius: 50%;
}

#pageBody {
  display: grid;
  grid-template-columns: calc(25% + 32px) calc(75% - 32px);
  margin: 2rem;

  text-align: center;
}

@media screen and (max-width: 960px) {
  #pageBody {
    grid-template-columns: 1fr;
  }
  
  #sidebar { 
    display: none;
  }
}