@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
		format("truetype");
}
@font-face {
	font-family: "Lato";
	src: url("/fonts/Lato/Lato-Regular.ttf") 
    format("truetype");
}

:root {
  --primary: #FFFFFF;
  --secondary: #353637;
  --accent: #5586E4;
  --light-grey: #F4F4F4;
  --medium-grey: #7E7E7E;
  --dm-medium-grey: #3C3E3F;
  --large-text: 2.25rem;
  --medium-text: 1.75rem;
  --small-text: 1.rem;
  --primary-font: 'Playfair Display';
  --secondary-font: 'Lato';
}

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: var(--primary-font);
	font-display: optional;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	font-display: optional;
  overflow-x: hidden;
}

#main {
	height: calc(100vh - 72px);
}

#navbar {
	height: 71px;
}
