@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
		format("truetype");
}
@font-face {
	font-family: "Lato";
	src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

:root {
	--primary-immutable: #ffffff;
	--accent: #4283e4;
	--large-text: 2.25rem;
	--medium-text: 1.75rem;
	--small-text: 1rem;
	--primary-font: "Playfair Display";
	--secondary-font: "Lato";
	--alternate-primary-font: Georgia;
}

.dark-mode {
	--secondary-nav: #2b2b2c;
	--primary: #ffffff;
	--secondary: #353637;
	--light-grey: #3c3e3f;
	--medium-grey: #f4f4f4;
}

.light-mode {
	--secondary-nav: #353637;
	--primary: #353637;
	--secondary: #ffffff;
	--light-grey: #f4f4f4;
	--medium-grey: #7e7e7e;
}

::selection {
	background: var(--accent);
  color: var(--secondary);
}

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	background-color: var(--secondary);
	color: var(--primary);

	font-family: var(--primary-font);
	font-display: optional;
}

a {
	color: inherit;
	text-decoration: none;
}

h2,
h3,
li {
	margin-top: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	font-display: optional;
	overflow-x: hidden;

	transition: background-color 250ms ease-in-out;
}

#main {
	min-height: calc(100vh - 65px);
}

#navbar {
	height: 65px;
}

.link {
	background: linear-gradient(to right, var(--primary), var(--primary)),
		linear-gradient(to right, var(--accent), var(--accent));
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 250ms;
}
.link:hover,
.link:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

.discrete-link {
	color: inherit;
	text-decoration: underline 0.15em var(--secondary);
	transition: text-decoration-color 250ms;
}
.discrete-link:hover,
.discrete-link:focus {
	text-decoration-color: var(--accent);
}