#main {
	height: auto;
	margin: 2rem;
}

#landingScreen {
	height: calc(100vh - 63px - 3rem);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 35px;
}
#heroStory {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 7;

	text-align: center;
}
#heroStory h1 {
	cursor: pointer;
	transition: all 150ms ease;
}
#heroStory h1:active {
	opacity: 0.85;
}

/*
 *  STYLE 3
 */

#latestArticles {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 7;
	text-align: left;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#latestArticles::-webkit-scrollbar {
	display: none;
}

#heroImage {
	cursor: pointer;
	object-fit: contain;
	max-height: 56vh;
	width: 100% !important;
	position: relative !important;
}

#departmentBar {
	position: relative;
	top: -24px;
	max-width: 15rem;
	width: auto;
	margin: auto;
	padding: 0.5rem;

	color: var(--primary-immutable);
	background-color: var(--accent);

	font-size: calc(var(--medium-text) / 1.5);
	font-family: var(--secondary-font);
	z-index: 2;
}
#heroStory h1,
#heroStory p {
	margin: 1rem;
}
#heroStory #summary {
	font-size: calc(var(--medium-text) / 1.5);
}
#downArrow {
	font-size: 1rem;
	-moz-animation: arrowBob 2s infinite;
	-webkit-animation: arrowBob 2s infinite;
	animation: arrowBob 2s infinite;
	z-index: 2;
}

.authors {
	display: flex;
	font-family: var(--secondary-font);
}

#title {
	cursor: pointer;
	font-size: var(--medium-text);
	transition: all 150ms ease;
}
#title:active {
	opacity: 0.85;
	table-layout: fixed;
}
#articleInfo,
#articleInfoWriters,
#articleInfoDate {
	margin-top: 0.5rem;
	font-size: calc(var(--small-text) * 0.8);
	color: var(--medium-grey);
	font-family: var(--secondary-font);
	cursor: pointer;
}

#contributorSeparator {
	margin: 0.5rem 2px 0 2px;
	font-size: calc(var(--small-text) * 0.8);
	color: var(--medium-grey);
}

#articleInfoDate {
	cursor: default;
}
#summary {
	margin-top: 0.5rem;
	font-size: var(--small-text);
}

@media screen and (max-width: 900px) {
	#landingScreen {
		height: auto;
		display: flex;
		flex-direction: column;
	}
	#main {
		margin: 0.75rem;
	}
}

#announcements_table {
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
#announcements_table td,
#announcements_table {
	border: 2px solid var(--primary);
	border-collapse: collapse;
}

#announcements_table td {
	padding: 5px;
	text-align: center;
	height: 50%;
}
#announcements_table tr {
	table-layout: fixed;
}

#down_arrow {
	cursor: pointer;
}
