.displayed_article {
  margin: auto;
  width: 80vw;
}
#title {
  text-align: center;
}
.mini_article_title {
  text-align: center;
}
#main {
  padding-top: 10px;
}
#main p {
  font-family: var(--alternate-primary-font);
}
