#list_view .item {
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid var(--primary);
	padding-top: 15px;
}

#list_view .inner_item {
	display: flex;
	width: 100%;
	min-height: 135px;
	justify-content: space-between;
}

.item_left {
	height: fit-content;

	margin-top: auto;
	margin-bottom: auto;
}

@media screen and (max-width: 940px) {
	#list_view .image {
		display: none;
	}
}

/* Image stuffs */
#list_view .image_div {
	text-align: center;
	height: 135px;
	object-fit: contain;
	position: relative;
	overflow: "hidden";
}

#list_view .image {
	margin-left: 20px;
	height: 135px;
	width: auto;
	object-fit: contain;
	position: relative !important;
	height: 135px !important;
}
