#nav {
	width: 100%;
  padding: 10px 14px;
	display: grid;
  grid-template-columns: 48px calc(100vw - 340px) 120px 48px 48px;
  grid-template-rows: 100%;
  column-gap: 12px;

  background-color: var(--secondary);
  align-items: center;
}
#hamburgerMenu {
  align-self: right;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: start;
}
#title {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 10px;
  grid-column-start: 2;
  grid-column-end: 2;

  text-align: center;
	font-size: var(--large-text);
  color: var(--primary);
}
#subscribe {
  grid-column-start: 3;
  grid-column-end: 3;
  place-self: center;

  color: var(--primary);
  background-color: rgb(255, 30, 0);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: var(--small-text);
}
#colorModeToggle {
  grid-column-start: 4;
  grid-column-end: 4;
  place-self: center;
}
#searchButton { 
  grid-column-start: 5;
  grid-column-end: 5;
  place-self: center;
}

@media screen and (max-width: 920px) {
  #nav { 
    grid-template-columns: 48px calc(100% - 188px) 56px 56px;
  }
  #subscribe {
    display: none;
  }
  #title {
    position: relative;
    top: -4px; 
    grid-column-start: 2;
    grid-column-end: 2;

    text-align: left;
  }
  #colorModeToggle {
    grid-column-start: 3;
    grid-column-end: 3;
    place-self: center;
  }
  #searchButton { 
    grid-column-start: 4;
    grid-column-end: 4;
    place-self: center;
  }
}
