#nav_parent {
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-nav);
  color: var(--primary-immutable);
}

#department_bar {
  max-width: 1000px;
  font-weight: 800;
  text-transform: uppercase;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--secondary-font);
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

#subscribe_search {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

#media_buttons {
  font-size: 1.5rem;
  padding-top: 1rem;
}

#media_button {
  margin-right: 0.5rem;
}

#navbar_hero {
  padding: 1.75rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#department_bar span:hover {
  opacity: 0.75;
  transition-duration: 0.25s;
  transform: translateY(-2px);
}

#logo_container {
  font-size: var(--extra-large-text);
  cursor: pointer;
  font-family: "Old English Text MT";
  text-align: center;
}

#date {
  font-family: var(--secondary-font);
  font-size: var(--extra-small-text);
  text-transform: uppercase;
  color: lightgray;
  letter-spacing: 1px;
}

#hamburgerMenu {
  display: none;
  background: none;
  cursor: pointer;
}

#media_button:hover,
#hamburgerMenu:hover,
#subscribe:hover,
#searchButton:hover,
.clickable_nav_element:hover {
  transition-duration: 0.25s;
  opacity: 0.75;
}

#hamburgerMenu:active,
#subscribe:active,
#searchButton:active,
.clickable_nav_element:active {
  opacity: 0.5;
}

@media screen and (max-width: 1050px) {
  #hamburgerMenu {
    display: block;
    margin-left: 1rem;
  }

  #date,
  #department_bar,
  #media_buttons {
    display: none;
  }

  #ghost {
    height: 95px;
  }

  #nav_parent {
    height: 95px;
    position: fixed;
    background-color: var(--secondary-nav);
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    overflow: visible;
    padding-right: 1rem;
  }

  #logo_container {
    font-size: var(--large-text);
    margin-left: 1.5rem;
  }

  #navbar_hero {
    height: 95px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #subscribe_search {
    margin-left: auto;
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 490px) {
  #logo_container {
    font-size: var(--medium-text);
  }

  #subscribe {
    display: none;
  }

  #navbar_hero,
  #ghost,
  #nav_parent {
    height: 65px;
  }
}

.user_icon {
  height: 36px;
  width: 36px;
}

.clickable_nav_element {
  cursor: pointer;
}
