#nav {
	width: 100%;
  padding: 12px 14px;
  display: grid;
  grid-template-columns: 48px calc(100vw - 356px) 120px 48px 48px;
  grid-template-rows: 100%;
  column-gap: 12px;
  
  background-color: var(--secondary-nav);
  align-items: center;
}
#hamburgerMenu {
  align-self: right;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: start;
}
#logo {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 6px;
  grid-column-start: 2;
  grid-column-end: 2;

  text-align: center;
	font-size: var(--large-text);
  color: var(--primary-immutable);
}
#subscribe {
  grid-column-start: 3;
  grid-column-end: 3;
  place-self: center;

  color: var(--primary-immutable);
  font-family: var(--secondary-font);
  font-weight: bold;
  background-color: rgb(255, 30, 0);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: var(--small-text);
}
#colorModeToggle {
  grid-column-start: 4;
  grid-column-end: 4;
  place-self: center;
}
#searchButton { 
  grid-column-start: 5;
  grid-column-end: 5;
  place-self: center;
}

#hamburgerMenu, #subscribe, #colorModeToggle, #searchButton {
  transition: all 150ms ease;
}
#hamburgerMenu:hover, #subscribe:hover, #colorModeToggle:hover, #searchButton:hover {
  opacity: 0.75;
}
#hamburgerMenu:active, #subscribe:active, #colorModeToggle:active, #searchButton:active {
  opacity: 0.5;
}

@media screen and (max-width: 840px) {
  #nav { 
    grid-template-columns: 48px calc(100% - 188px) 56px 56px;
  }
  #subscribe {
    display: none;
  }
  #logo {
    position: relative;
    top: 0; 
    grid-column-start: 2;
    grid-column-end: 2;

    text-align: left;
    font-size: var(--medium-text);
  }
  #colorModeToggle {
    grid-column-start: 3;
    grid-column-end: 3;
    place-self: center;
  }
  #searchButton { 
    grid-column-start: 4;
    grid-column-end: 4;
    place-self: center;
  }
}

@media screen and (max-width: 480px) {
  #logo {
    font-size: calc(var(--medium-text) * (2 / 3) - 4px);
  }
}