#nav_parent {
  overflow: hidden;
  background-color: var(--secondary);
  color: var(--primary);

  display: flex;
  justify-content: center;
}
#nav_parent_content {
  width: 95vw;
  border-bottom: solid var(--primary) 2px;
  padding-bottom: 0.25rem;
}
#nav_parent_content_border {
  border-bottom: solid var(--primary) 2px;
  margin-top: 0.25rem;
}
.department_bar_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#department_bar {
  font-weight: 550;
  font-family: var(--secondary-font);
  font-size: 1.15rem;

  height: 100%;
  width: fit-content;
  padding: 0.5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  transition: ease-in-out 200ms;

  position: sticky;
}

#department_bar span {
  display: flex;
  align-items: first baseline;
  gap: 0.25rem;

  color: var(--primary);
}
#department_bar span::after {
  content: "";
  display: inline-block;
  aspect-ratio: 0.75/1;
  height: 1rem;
  transition: transform ease-in-out 200ms;

  background-color: var(--primary);
  -webkit-mask: url("./../public/svg/chevron-down.svg") no-repeat center;
  mask: url("./../public/svg/chevron-down.svg") no-repeat center;
  mask-size: contain;
}
#department_bar span:hover::after {
  transform: translateY(10%);
}
#department_bar span:hover {
  opacity: 0.75;
  transition-duration: 0.25s;
  transform: translateY(-2px);
}

#navbar_hero {
  padding: 1.5rem 1rem;
  padding-bottom: 0.5rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(10, 1fr);

  align-items: center;
  justify-items: center;
}
/* 
FORTHE GRID CONTIANER
*/
.social_media_and_date {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#media_buttons {
  width: 100%;

  display: flex;
  gap: 0.25rem;
  justify-content: center;

  font-size: 1rem;
}
#media_buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#media_buttons svg {
  aspect-ratio: 1/1;
  font-size: 1.5rem;
}
.date {
  font-family: var(--secondary-font);
  font-size: var(--extra-small-text);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#logo_container {
  grid-column: 3 / span 6;

  display: flex;
  justify-content: center;
  align-items: center;
}

#logo_container {
  font-size: var(--extra-large-text);
  cursor: pointer;
  font-family: "Old English Text MT";
  text-align: center;
  font-weight: 500;
}
.right {
  grid-column: 9 / span 2;
  justify-self: right;
}

#hamburgerMenu {
  display: none;
  background: none;
  cursor: pointer;
}

#media_button:hover,
#hamburgerMenu:hover,
#subscribe:hover,
#searchButton:hover,
.clickable_nav_element:hover {
  transition-duration: 0.25s;
  opacity: 0.75;
}

#hamburgerMenu:active,
#subscribe:active,
#searchButton:active,
.clickable_nav_element:active {
  opacity: 0.5;
}

/* .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.navBarSideBar {
  visibility: hidden;

  width: 0;
  height: 0;
  overflow: hidden;
  padding: 1rem;
  padding-top: 2rem;
}
.expanded_section {
  interpolate-size: allow-keywords;

  align-self: flex-start;

  border-top: solid 2px var(--light-grey);

  width: 100%;
  padding: 2rem 1rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  column-gap: 5rem;
  height: fit-content;

  /* transition: 300ms ease-in-out; */
}
@keyframes hp {
  to {
    height: 0;
    padding: 0;
  }
}
#hiddenExpandedSection {
  visibility: hidden;
  animation: hp 2s cubic-bezier(0.165, 0.84, 0.44, 1) 50ms 1 forwards;

  #subsectionList {
    height: 0;
  }
}
.expanded_section #sectionID {
  font-family: "Old English Text MT";
  font-size: 1.4rem;
  font-weight: 300;

  grid-column: 1 / span 2;
}
.expanded_section #subsections {
  grid-column: 4 / span 4;
}

.expanded_section #subsectionList {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(min-contnet, 1fr));
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 0.5rem;

  padding-top: 0.5rem;
  font-size: 1.15rem;

  column-gap: 4rem;
}

@media screen and (max-width: 1050px) {
  #nav_parent {
    position: relative;
  }
  #nav_parent_content {
    width: 100%;
  }
  #subscribe_search {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .weatherTempBar {
    display: none;
  }

  .right {
    display: block;
    margin-left: auto;
  }

  #hamburgerMenu {
    display: block;
    margin-left: 1rem;

    aspect-ratio: 1/1;
    width: 24px;
  }
  .dialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 0px;
    z-index: 999;
  }
  .navBarSideBar {
    background-color: var(--secondary);
    visibility: visible;
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
  }
  #closeButton {
    all: unset;
    cursor: pointer;
  }
  #closeButton svg {
    aspect-ratio: 1/1;
    width: 20px;
  }

  .date,
  .department_bar_container,
  #department_bar,
  #media_buttons,
  #nav_parent_content_border {
    display: none;
  }

  #nav_parent {
    overflow: visible;
  }

  #logo_container {
    font-size: var(--large-text);
    margin-left: 1.5rem;
  }

  #navbar_hero {
    height: 95px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 490px) {
  #logo_container {
    font-size: var(--medium-text);
  }

  #subscribe {
    display: none;
  }
}

.user_icon {
  height: 36px;
  width: 36px;
}

.clickable_nav_element {
  cursor: pointer;
}

.active {
  opacity: 0.75;
}

/* #subscribe_search {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

#media_buttons {
  font-size: 1.5rem;
  padding-top: 1rem;
}

#media_button {
  margin-right: 0.5rem;
} */

/* 
.weatherTempBar {
  margin-left: auto;
  font-family: var(--secondary-font);
  min-width: 180px;
  min-height: 25px;
  background-color: var(--secondary-nav);
  transform: translateY(7px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: var(--extra-small-text);
  color: lightgray;
  letter-spacing: 1px;
}

.weatherIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
} */
