#nav_parent {
	width: 100%;
	background-color: var(--secondary-nav);
}

#nav {
	width: 100%;
	height: 65px;
	padding: 1px 14px;

	grid-template-columns: 48px 250px 120px 48px 48px;
	grid-template-rows: 100%;
	column-gap: 2rem;

	display: flex;
	align-items: center;
	overflow: hidden;
	/* align-self: flex-start; */
}

#sub_section_bar {
	max-width: 800px;
	height: fit-content;
	display: flex;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
	font-family: var(--secondary-font);
	align-items: center;
	padding-bottom: 10px;
	color: var(--primary-immutable);
}

#subscribe_parent {
	margin-left: auto;
}
#logo_container {
	font-size: var(--large-text);
	color: var(--primary-immutable);
	justify-self: center;
	width: 250px;
	text-align: center;
	position: absolute;
	top: 32px; /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */

	transform: translate(-50%, -50%);
	cursor: pointer;
	font-family: "Old English Text MT";
}

#colorModeToggle {
	grid-column-start: 4;
	grid-column-end: 4;
	place-self: center;
}
#searchButton {
	grid-column-start: 5;
	grid-column-end: 5;
	place-self: center;
}
#hamburgerMenu {
	display: none;
	background: none;
	cursor: pointer;
}

#hamburgerMenu:hover,
#subscribe:hover,
#colorModeToggle:hover,
#searchButton:hover,
.clickable_nav_element:hover {
	opacity: 0.75;
}
#hamburgerMenu:active,
#subscribe:active,
#colorModeToggle:active,
#searchButton:active,
.clickable_nav_element:active {
	opacity: 0.5;
}

@media screen and (max-width: 940px) {
	#nav {
		grid-template-columns: 48px calc(100% - 188px) 56px 56px;
		column-gap: 1.5rem;
	}
	#logo_container {
		font-size: 2rem;
		position: static;

		transform: none;
		float: left;
		margin-right: auto;
		width: fit-content;
		margin-left: 10px;
		width: 220px;
		text-align: center;
	}
	#subscribe_parent {
		display: none;
	}
	#colorModeToggle {
		grid-column-start: 3;
		grid-column-end: 3;
		place-self: center;
	}
	#searchButton {
		grid-column-start: 4;
		grid-column-end: 4;
		place-self: center;
	}

	#hamburgerMenu {
		display: block;
	}

	.hide {
		display: none !important;
	}

	#sub_section_bar {
		flex-direction: column;
	}

	#sub_section_bar span {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 480px) {
	#logo_container {
		width: 140px;
	}

	#logo_the {
		display: none;
	}
}

.user_icon {
	height: 36px;
	width: 36px;
}

.clickable_nav_element {
	cursor: pointer;
}
