#main {
	text-align: center;
	padding-top: 1rem;
	width: 95vw;
	max-width: 1300px;
	margin: auto;
}

#video {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 100%;
	max-width: 700px;
	aspect-ratio: 16 / 9;
}

#departments .department {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	line-height: 1.4rem;
	border-style: groove;
	border-width: 2px;
	border-color: var(--accent);
	border-radius: 15px;
	padding: 15px;
}

#departments {
	text-align: left;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-auto-flow: row;
	gap: 2rem;
	margin-bottom: 15px;
}

@media screen and (max-width: 1100px) {
	#departments {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 700px) {
	#departments {
		grid-template-columns: repeat(1, 1fr);
	}
}
