.mainBody {
  background-color: var(--secondary);
  --primaryFont: "Minion Pro";
  scroll-behavior: smooth;
}
.headingContainer {
  height: 75vh;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.heading {
  width: 100%;
  height: 100%;
  display: grid;
  transition: 500ms;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 1rem;
  background-color: var(--light-grey);
  padding: 1rem;
  border-radius: 1rem;
}
.headingText {
  min-height: 100%;
  position: relative;
  font-family: "Minion Pro";
  color: var(--primary);
  /*Flex properties*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Box model properties*/
}
#headingMainText {
  font-size: clamp(2rem, 1.3077rem + 3.6923vw, 5rem);
  display: flex;
  text-decoration: #db2b39 dotted underline;
}
#headingParagraph {
  font-size: clamp(1rem, 0.7692rem + 1.2308vw, 2rem);
}
#SEPERATORCONT {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#SEPERATOR {
  width: 0.5ch;
  height: 100%;
  background-color: var(--primary);
  border-radius: 0.25rem;
}
#LIVE {
  color: red;
  border-radius: 0.1rem;
  animation: blink linear alternate-reverse 2s infinite;
}
#LIVE svg {
  height: 1ch;
  width: 1ch;
  margin: 0.25ch;
}
@keyframes blink {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.recruitmentsVideo {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
#VIDEO {
  border-radius: 1rem;
  width: 100%;
}
:where(.recruitmentsVideo, .headingText) {
  transition: 300ms;
  overflow: hidden;
}
.heading:has(.recruitmentsVideo:hover) {
  grid-template-columns: 3fr 1fr 6fr;
}
#OVERLAY {
  position: absolute;
  background-color: var(--light-grey);
  opacity: 0.75;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: OVERLAYin cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
  border-radius: 1rem;
}
@keyframes OVERLAYin {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

.aboutContainer {
  height: fit-content;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

  position: relative;
}
.about {
  background-color: var(--light-grey);
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr 6fr;
}
.aboutText {
  z-index: 2;
  color: var(--primary);
  padding: 1rem;
}
.aboutText > h1 {
  font-size: clamp(1.75rem, 1.2308rem + 2.7692vw, 4rem);
  text-align: center;
  text-decoration: #db2b39 dotted underline;
}
.aboutText > p {
  font-size: clamp(1rem, 0.8846rem + 0.6154vw, 1.5rem);
}
.aboutText::before {
  width: 2ch;
  height: 100%;
  background-color: #db2b39;
}
.aboutImage {
  background-image: url("../public/images/SpectatorPattern.png");
  -webkit-box-shadow: 5px 5px 5px 0px var(--cardImageShadowColor);
  -moz-box-shadow: 5px 5px 5px 0px var(--cardImageShadowColor);
  box-shadow: 5px 5px 5px 0px var(--cardImageShadowColor);
 
  background-size:cover;
  border-radius: 1rem;
  overflow: hidden;
}
.aboutImage > img {
  aspect-ratio: 1 / 1;
}

.departmentsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;
  margin-top: 3rem;
}
.closedDepartmentsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;
  margin-top: 3rem;
}
.departmentCard {
  position: relative;
  background-color: var(--light-grey);
  border-radius: 1rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}
.departmentsContainer .departmentCard:hover {
  -webkit-box-shadow: 5px 5px 5px 0px var(--cardShadowColor);
  -moz-box-shadow: 5px 5px 5px 0px var(--cardShadowColor);
  box-shadow: 5px 5px 5px 0px var(--cardShadowColor);
}
.newsTheme {
  :where(#link, .dateContainer) {
    background-color: var(--news-color);
  }
  #departmentName {
    text-decoration-color: var(--news-color);
  }
}
.featuresTheme {
  :where(#link, .dateContainer) {
    background-color: var(--features-color);
  }
  #departmentName {
    text-decoration-color: var(--features-color);
  }
}
.opinionsTheme {
  :where(#link, .dateContainer) {
    background-color: var(--opinions-color);
  }
  #departmentName {
    text-decoration-color: var(--opinions-color);
  }
}
.humorTheme {
  :where(#link, .dateContainer) {
    background-color: var(--humor-color);
  }
  #departmentName {
    text-decoration-color: var(--humor-color);
  }
}
.aeTheme {
  :where(#link, .dateContainer) {
    background-color: var(--ae-color);
  }
  #departmentName {
    text-decoration-color: var(--ae-color);
  }
}
.sportsTheme {
  :where(#link, .dateContainer) {
    background-color: var(--sports-color);
  }
  #departmentName {
    text-decoration-color: var(--sports-color);
  }
}
.scienceTheme {
  :where(#link, .dateContainer) {
    background-color: var(--science-color);
  }
  #departmentName {
    text-decoration-color: var(--science-color);
  }
}
.webTheme {
  :where(#link, .dateContainer) {
    background-color: var(--web-color);
  }
  #departmentName {
    text-decoration-color: var(--web-color);
  }
}
.copyTheme {
  :where(#link, .dateContainer) {
    background-color: var(--copy-color);
  }
  #departmentName {
    text-decoration-color: var(--copy-color);
  }
}
.layoutTheme {
  :where(#link, .dateContainer) {
    background-color: var(--layout-color);
  }
  #departmentName {
    text-decoration-color: var(--layout-color);
  }
}
.photosTheme {
  :where(#link, .dateContainer) {
    background-color: var(--photos-color);
  }
  #departmentName {
    text-decoration-color: var(--photos-color);
  }
}
.artTheme {
  :where(#link, .dateContainer) {
    background-color: var(--art-color);
  }
  #departmentName {
    text-decoration-color: var(--art-color);
  }
}
.buisnessTheme {
  :where(#link, .dateContainer) {
    background-color: var(--buisness-color);
  }
  #departmentName {
    text-decoration-color: var(--buisness-color);
  }
}
.dateContainer {
  text-align: center;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
}
.dateContainer > p {
  font-weight: bold;
}

#dueDateContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
#dueDateSvg {
  width: 2ch;
  height: 2ch;
}
#departmentText {
  padding: 1rem;
}
#departmentText > h1 {
  font-size: clamp(1.75rem, 1.6923rem + 0.3077vw, 2rem);
  text-align: center;
}
#departmentText > p {
  overflow-y: scroll;
  scrollbar-width: thin;
}
#departmentName {
  text-decoration: underline wavy;
}

#application {
  margin: 0.25rem;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#link {
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#link p {
  font-family: "Lato";
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 2ch;
  transition: ease-in-out 200ms;
  color: var(--primary);
}
#link:hover p {
  margin-left: 2ch;
  margin-right: 0;
}
#leftArrow {
  transform: translateX(-100px);
}
#rightArrow {
  transform: translateX(0px);
}
#link:hover {
  filter: brightness(85%);
}

#application:has(#link:hover) {
  #leftArrow {
    width: fit-content;
    transform: translateX(0px);
  }
  #rightArrow {
    transform: translateX(100px);
  }
}
@media screen and (max-width: 1400px) {
  #link{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  #link p{
    margin: 0;
    text-align: center;
  }
  #link:hover p{
    text-align: center;
    margin: 0;
  }
  #leftArrow{
    width: 0px;
  }
  #rightArrow{
    width: 0px;
  }
  #application:has(#link:hover){
    #leftArrow{
      visibility: hidden;
      width: 0;
      transform: translateX(-100px);
    }
    #rightArrow{
      transform: translateX(0);
      visibility: hidden;
      width: 0;
    }
  }

  .heading{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
  }
  .recruitmentsVideo{
    align-self: center;
  }
  .heading:has(.headingText:hover) {
    grid-template-columns: 3fr 1fr 3fr;
  }
  .heading:has(.recruitmentsVideo:hover) {
    grid-template-columns: 3fr 1fr 3fr;
  }

}
:where(#rightArrow, #leftArrow) {
  transition: ease-in-out 200ms;
  height: 2ch;
  aspect-ratio: 2 / 1;
}
@media screen and (max-width: 1100px) {
  .about {
    display: flex;
  }
  .heading {
    display: flex;
    height: fit-content;
  }
  .aboutImage {
    width: 0px;
    height: 0px;
  }
  #SEPERATORCONT {
    width: 0px;
  }
  .aboutContainer {
    height: fit-content;
  }
  .headingContainer {
    height: fit-content;
  }
  .heading {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0 2fr;
  }
  .aboutText {
    overflow: scroll;
  }
  .headingText {
    overflow: scroll;
  }
  .departmentsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .closedDepartmentsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading:has(.headingText:hover) {
    grid-template-columns: 1fr;
  }
  .heading:has(.recruitmentsVideo:hover) {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 750px) {
  .departmentsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .closedDepartmentsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
