#sidebar_parent {
  width: 100%;

  height: auto;
  z-index: 9999;

  font-size: 1.1rem;

  user-select: none;
}

#sidebar {
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 0;
  color: var(--primary);

  width: 100%;

  list-style-type: none;
}
.department {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 2rem 0;

  border-bottom: solid 2px var(--light-grey);
}
#search {
  border: none;
  padding: 1rem 0;
  padding-bottom: 0rem;
}

#socialsBar {
  border-top: solid 2px var(--primary);
  padding: 1rem;
}
#mediaButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#mediaButton {
  color: var(--primary);
  font-size: 32px;

  transition: all 150ms ease;
}

.hide {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
