#sidebar_parent {
  width: 100%;
  background-color: var(--secondary);
  height: auto;
  z-index: 9999;

  font-size: 1.1rem;
}

#sidebar {
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px;
  color: var(--primary);



  width: 100%;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--secondary);
}

.department {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 2rem 0;

  border-bottom: solid 2px var(--light-grey);
}
#search {
  padding: 0;
  border: none;
}

#socialsBar {
  border-top: solid 2px var(--primary);
  padding: 1rem;
}
#mediaButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#mediaButton {
  color: var(--primary);
  font-size: 32px;

  transition: all 150ms ease;
}

.hide {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
