/* FOR CARD CONTAINERS ETC. */
.cardContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
}
#sectionTitle {
  color: var(--primary);
  font-family: Georgia;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.staffCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.89663rem;
}
.staffCard #image {
  flex: 1 0 0;
  align-self: stretch;
  aspect-ratio: 242.45/323.26;
  background-position: center;
  background-size: cover;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.17931rem;
  align-self: stretch;
}
.text h4 {
  color: var(--primary);
  font-family: Georgia;
  font-size: 1.61394rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text p {
  color: var(--primary);
  font-family: Georgia;
  font-size: 1.07594rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.staffCard > p {
  color: var(--primary);
  font-family: Georgia;
  font-size: 0.89663rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* MAIN CONTAINER */

.main {
  margin: 70px 36px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#titleText {
  color: var(--primary);
  text-align: center;
  font-family: Georgia;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#italiziedSpectator {
  font-style: italic;
}
.mainSections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* BACKGROUND W TEXT BEHIND*/
.backgroundText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
}
#topText {
  color: var(--primary);
  text-align: center;
  font-family: Georgia;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.textContainer {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border: 5px solid var(--primary);
  background: var(--secondary);

  margin: 5rem 2rem;
}
.backgroundTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}
.overlayBackgroundText {
  backdrop-filter: blur(4px);
  width: 100%;
}
