#headingText{
	padding-bottom: 0.5rem;
	font-size: 1.25rem;
}
#main {
  /* width: 95vw;
	max-width: 1000px; */
  padding-block: 1rem;
  margin: 0 auto;
  padding: 3rem;
}

#memberGrid {
  display: grid;
  gap: 1rem;
}

/*
FOR SIZING DIMENSIONS ONLY

USE GLOBALS CSS VARIABLES --SMALL, --MEDIUM, --LARGE FOR
REFERENCE
*/
@media only screen and (min-width: 576px) {
  #memberGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  #memberGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  #memberGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  #memberGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
