#subscribe {
	color: var(--primary-immutable);
	font-family: var(--secondary-font);
	font-weight: bold;
	background-color: #db2b39;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: var(--small-text);
	cursor: pointer;
	margin: 0 auto;
	display: block;
	-webkit-animation: spin 0.4s linear;
	-moz-animation: spin 0.4s linear;
	animation: spin 0.4s linear;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#subscribe_button_navbar {
	color: var(--primary-immutable);
	font-family: var(--secondary-font);
	font-weight: bold;
	background-color: #db2b39;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: var(--small-text);
	cursor: pointer;
	margin: 0 auto;
	display: block;
}

#subscribe:hover {
	background-color: #a5222d;
}
