#subscribe {
	color: var(--primary-immutable);
	font-family: var(--secondary-font);
	font-weight: bold;
	background-color: #db2b39;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: var(--small-text);
	cursor: pointer;
	margin: 0 auto;
	display: block;
    -webkit-animation:spin 2s linear;
    -moz-animation:spin 2s linear;
    animation:spin 2s linear;
	}
	@-moz-keyframes spin { 
		100% { -moz-transform: rotate(360deg); } 
	}
	@-webkit-keyframes spin { 
		100% { -webkit-transform: rotate(360deg); } 
	}
	@keyframes spin { 
		100% { 
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 
		} 
}

#subscribe2 {
	color: var(--primary-immutable);
	font-family: var(--secondary-font);
	font-weight: bold;
	background-color: #db2b39;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: var(--small-text);
	cursor: pointer;
	margin: 0 auto;
	display: block;
}

#subscribe:hover {
	background-color: #a5222d;
}
