#container {
	width: 100%;
	margin: auto;
	padding: 1rem;
	position: relative;
	top: 25vh;

	text-align: center;
}

#container > * {
	margin: 1rem;
}
#heading {
	font-size: var(--large-text);
}
#text {
	font-size: var(--medium-text);
}

#input {
	margin: 4px;

	color: var(--primary);
	background-color: transparent;
	border-bottom: 2px solid var(--primary);
	outline: none;
	text-align: center;
	width: 50vw;
	max-width: 360px;
	font-size: var(--small-text);
}

.subscribe_form {
	text-align: center;
}
