#container {
	width: 95vw;
	margin: auto;
	text-align: center;
	padding: 15px;
}

#input {
	margin: 4px;

	color: var(--primary-immutable);
	background-color: transparent;
	border-bottom: 4px solid var(--primary-immutable);

	text-align: center;
	width: 80vw;
	max-width: 400px;
	font-size: var(--small-text);
}
#button {
	color: var(--primary-immutable);
	font-family: var(--secondary-font);
	font-weight: bold;
	background-color: rgb(255, 30, 0);
	padding: 10px 20px;
	border-radius: 10px;
	font-size: var(--small-text);

	transition: all 150ms ease;
}
#button:hover {
	background-color: rgb(214, 56, 35);
}
